/* ex: set sw=2 et: */

.container {
  padding: 10px;
  border: 1px solid black;
}
.inner_container {
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
}
.block_header {
  padding: 10px;
  background: red;
}
.item_header {
  padding: 2px;
  background: green;
}
